<!-- Подгружаем статические файлы и шаблонные теги-->
{% load static %}
{% load goodsapp_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">

    <!-- Стиль footer-a для главной страницы -->
    {% block css %}
    
    {% endblock  %}
    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/sporthub.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/sporthub-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/sporthub-16x16.png" %}">
    <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="primary">
            <div class="container">
                <a class="navbar-brand ms-2" href="{% url "mainapp:index" %}">SportHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Информация
                            </a>
                            <ul class="dropdown-menu text-bg-secondary">
                                <li><a class="dropdown-item text-bg-secondary" href="#">Доставка и оплата</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-bg-secondary" href="{% url "mainapp:about" %}">О нас</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Каталог
                            </a>
                            <ul class="dropdown-menu text-bg-secondary">
                                {% tag_categories as categories %}
                                {% for category in categories %}
                                    <li><a class="dropdown-item text-bg-secondary" href="{% url "goodsapp:index" category.slug %}">{{ category.name }}</a></li>
                                    {% if not forloop.last %}
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                {% endfor %}
                                
                            </ul>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link  text-dark" href="{% url "usersapp:login" %}">Вход/Регистрация</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Мой профиль
                            </a>
                            <ul class="dropdown-menu text-bg-secondary">
                                <li><a class="dropdown-item  text-bg-secondary" href="{% url "usersapp:profile" %}">Профиль</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item  text-bg-secondary" href="{% url "usersapp:logout" %}">Выйти</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action='{% url "goodsapp:search" %}' method='get'>
                        <input class="form-control me-2" type="search" name='q' placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success text-white bg-secondary" type="submit" style="margin-right: 20px;">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <!-- Значек корзина на странице -->
            {% if user.is_authenticated %}
            <div class="row mt-1 position-fixed z-3">
                
                <!-- Значек корзины, вызывает модальное окно -->
                    {% block modal_cart %}{% endblock modal_cart %}
                <!-- Закончилась разметка модального окна -->
            </div>
        </div>
            {% endif %}
        </div>
        <!-- Контент -->
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Пустой блок на Ваше усмотрение -->
                </div>
                <div class="col-lg-10">
                    <!-- Контент на странице -->
                    {% include "includes/notifications.html" %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    
    {% block footer %}{% endblock %}
    
    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-events.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "deps/js/password-toggle.js" %}"></script>
</body>

</html>
